<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    La liste des transactions non vérifiées dont le hash est incorrect est :
    {% for transactionNonVerifiee in listeTransactionsNonVerifiees %}
    <div>{{ transactionNonVerifiee.nomUtilisateur1 }} a donné {{ transactionNonVerifiee.montantTransaction }} à {{ transactionNonVerifiee.nomUtilisateur2 }} le {{ transactionNonVerifiee.dateTransaction }} -> hash : {{ transactionNonVerifiee.hashTransaction }}</div>
    {% endfor %}
</body>
</html>